.flm-modal-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.8);
}
.flm-modal-wrapper .flm-modal {
    width: 60%;
    margin: 5% auto;
    text-align: center;
    color: #000;
    background: #FFF;
    padding: 2% 5%;
    max-height: 75vh;
    position: relative;
}

.flm-modal-wrapper .flm-modal .flm-modal-close {
    background: red;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 37px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.flm-modal-wrapper .flm-modal .flm-modal-image {
    width: 25%;
}

.flm-modal-wrapper .flm-modal .flm-modal-subtitle {
    margin-bottom: 15px;
}

.flm-modal-wrapper .flm-modal .flm-modal-link {
    padding: 5px 0;
    background: #609001;
    color: white;
    line-height: 1.3em;
    display: block;
    min-width: 25%;
    max-width: 50%;
    margin: 5px auto;
    font-size: 1.3em;
}

.flm-modal-wrapper .flm-modal .flm-modal-link:hover {
    width: 100%;
    color: white;
    background: #000;
    text-decoration: none;
    transition: ease-in-out .35s;
}